{\rtf1\ansi\ansicpg1252\cocoartf2580
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\csgray\c0;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs22 \cf2 \CocoaLigature0 appdirs==1.4.4\
asgiref==3.3.4\
astroid==2.5\
black==20.8b1\
CacheControl==0.12.6\
cachy==0.3.0\
certifi==2021.5.30\
chardet==4.0.0\
cleo==0.8.1\
click==7.1.2\
clikit==0.6.2\
crashtest==0.3.1\
distlib==0.3.2\
dj-database-url==0.5.0\
Django==3.1.6\
django-cors-headers==3.7.0\
django-heroku==0.0.0\
djangorestframework==3.12.2\
filelock==3.0.12\
html5lib==1.1\
idna==2.10\
isort==5.8.0\
keyring==21.8.0\
lazy-object-proxy==1.6.0\
lockfile==0.12.2\
mccabe==0.6.1\
msgpack==1.0.2\
mypy-extensions==0.4.3\
packaging==20.9\
pastel==0.2.1\
pathspec==0.8.1\
pexpect==4.8.0\
Pillow==8.1.0\
pipenv==2021.5.29\
pkginfo==1.7.1\
poetry==1.1.7\
poetry-core==1.0.3\
psycopg2==2.9.1\
psycopg2-binary==2.9.1\
ptyprocess==0.7.0\
pylev==1.4.0\
pylint==2.6.0\
pylint-django==2.4.2\
pylint-plugin-utils==0.6\
pyparsing==2.4.7\
python-dotenv==0.18.0\
pytz==2021.1\
regex==2021.4.4\
requests==2.25.1\
requests-toolbelt==0.9.1\
shellingham==1.4.0\
six==1.16.0\
sqlparse==0.4.1\
toml==0.10.2\
tomlkit==0.7.2\
typed-ast==1.4.2\
typing-extensions==3.7.4.3\
urllib3==1.26.6\
virtualenv==20.4.7\
virtualenv-clone==0.5.4\
webencodings==0.5.1\
whitenoise==5.2.0\
wrapt==1.12.1\
yarn==1.0.0}